# Framework
Django==5.2.7
djangorestframework==3.16.1
gunicorn==23.0.0
whitenoise==6.5.0

# Ciencia de datos / ML
numpy==2.0.3
pandas==2.1.3
scikit-learn==1.3.1
joblib==1.3.2
matplotlib==3.8.1

# Optional (si usas regresión / escalado)
scipy==1.11.1

# Evitar errores en render / compatibilidad
cycler==0.11.0
fonttools==4.44.0
kiwisolver==1.4.5
python-dateutil==2.9.4
pytz==2025.10
