# Framework
Django==5.2.7
djangorestframework==3.16.1

# WSGI server
gunicorn==23.0.0

# Static files in production
whitenoise==6.5.0

# Data analysis & ML
pandas==2.1.1
numpy==1.27.5
matplotlib==3.8.1
scikit-learn==1.3.1
joblib==1.3.2

# Other utilities
json5==3.1.3  # opcional, si trabajas con json avanzado
