# Frameworks
Django==5.2.7
djangorestframework==3.16.1

# WSGI server
gunicorn==23.0.0

# ASGI support
asgiref==3.10.0

# Database utilities
sqlparse==0.5.3
dj-database-url==1.0.0

# HTTP / Requests
requests==2.32.5
urllib3==2.5.0
certifi==2025.10.5
charset-normalizer==3.4.4
idna==3.11
packaging==25.0
